{% extends 'base.html.twig' %}

{% block body %}
        <ul>
            <li><a href="{{ veille.link }}">{{ veille.name }}</a></li>
            <li>{{ veille.description }}</li>
        </ul>
{% endblock %}
